/* Orbitron font */
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

/* Roboto Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --card-color: #778da9;
  --highlight-color: #1b263b;
  --accent-color: #415a77;

  --text-color: rgba(224, 225, 221, 1);
  --accent-2-color: rgb(253, 58, 24);
  --accent-2-color-hover: rgb(253, 89, 58);
}

body {
  background-color: rgba(13, 27, 42, 1);
  color: rgba(224, 225, 221, 1);
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Orbitron", sans-serif;
}
.accentButton {
  background-color: var(--accent-2-color);
  border: none;
  padding: 10px 50px;
  border-radius: 20px;
  color: var(--text-color);
  font-weight: 600;
}
.accentButton:hover {
  background-color: rgb(253, 89, 58);
}
img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
