.apodMainDiv {
  padding-top: 200px;
  padding-bottom: 200px;
}
.mainContainer {
  display: flex;
}
.apodInfoDiv {
  margin-top: 30px;
  display: flex;
  gap: 30px;
}
.DC{
    font-weight: 600;
    margin-top: 10px;
    text-align: center;
} 